.activem {
	background: linear-gradient(269deg, #000000, #ff0000, #000000);
	background-size: 400% 600%;
	-webkit-animation: activeAnmi 3s ease infinite;
	-moz-animation: activeAnmi 3s ease infinite;
	animation: activeAnmi 3s ease infinite;
	color: white;
	z-index: 10;
  }

  @-webkit-keyframes activeAnmi {
	0% {
	  background-position: 31% 0%;
	}

	50% {
	  background-position: 70% 100%;
	}

	100% {
	  background-position: 31% 0%;
	}
  }

  @-moz-keyframes activeAnmi {
	0% {
	  background-position: 31% 0%;
	}

	50% {
	  background-position: 70% 100%;
	}

	100% {
	  background-position: 31% 0%;
	}
  }

  @keyframes activeAnmi {
	0% {
	  background-position: 31% 0%;
	}

	50% {
	  background-position: 70% 100%;
	}

	100% {
	  background-position: 31% 0%;
	}
  }

  .tabs .tab a {
	color: red;
  }

  .tabs .tab a.active {
	color: red;
  }

  .tabs .tab a:hover {
	color: red;
  }

  .tabs .tab a:focus {
	background-color: rgba(255, 0, 0, 0.1);
  }

  .tabs .tab a:focus.active {
	background-color: rgba(255, 0, 0, 0.1);
  }

  .tabs .indicator {
	background-color: red;
  }

  #finishq {
	display: none;
  }

  .head1 {
	font-weight: bold;
	color: red;
  }

  /* #tab4 tr td:hover {
	background: rgba(252, 113, 113, 0.199);
  } */
  #tab4 tr td {
	cursor:pointer;
  }

  table {
	text-align: center;
	border: 0.5px solid #111;
	margin: auto;
  }

  table td {
	border: 1px solid #e9e9e9;
  }

  table tr {
	transition: 1.5s ease;
  }
  .ribbon {
	width: 250px;
	height: 60px;
	margin: 10px auto 0px;
	position: relative;
	color: #fff;
	font: 26px/60px sans-serif;
	text-align: center;
	text-transform: uppercase;
	background: red;
	
	-webkit-animation: main 250ms;
	-moz-animation: main 250ms;
	-ms-animation: main 250ms;
	animation: main 250ms;
  }
  
  .ribbon i {
	position: absolute;
  }
  
  .ribbon i:first-child, .ribbon i:nth-child(2) {
	position: absolute;
	left: -20px;
	bottom: -20px;
	z-index: -1;
	border: 20px solid transparent;
	border-right-color: darkred;
	
	-webkit-animation: edge 500ms;
	-moz-animation: edge 500ms;
	-ms-animation: edge 500ms;
	animation: edge 500ms;
  }
  
  .ribbon i:nth-child(2) {
	left: auto;
	right: -20px;
	border-right-color: transparent;
	border-left-color: darkred;
  }
  
  .ribbon i:nth-child(3), .ribbon i:last-child {
	width: 20px;
	bottom: -20px;
	left: -40px;
	z-index: -2;
	border: 30px solid red;
	border-left-color: transparent;
	
	-webkit-animation: back 600ms;
	-moz-animation: back 600ms;
	-ms-animation: back 600ms;
	animation: back 600ms;
	
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
  }
  
  .ribbon i:last-child {
	bottom: -20px;
	left: auto;
	right: -40px;
	border: 30px solid red;
	border-right-color: transparent;
  
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
  }
  

  
  @-webkit-keyframes main {
	0% { -webkit-transform: scaleX(0); }
	100% { -webkit-transform: scaleX(1); }
  }
  
  @-webkit-keyframes edge {
	0%, 50% { -webkit-transform: scaleY(0); }
	100% { -webkit-transform: scaleY(1); }
  }
  
  @-webkit-keyframes back {
	0%, 75% { -webkit-transform: scaleX(0); }
	100% { -webkit-transform: scaleX(1); }
  }
  
  
  @-moz-keyframes main {
	0% { -moz-transform: scaleX(0); }
	100% { -moz-transform: scaleX(1); }
  }
  
  @-moz-keyframes edge {
	0%, 50% { -moz-transform: scaleY(0); }
	100% { -moz-transform: scaleY(1); }
  }
  
  @-moz-keyframes back {
	0%, 75% { -moz-transform: scaleX(0); }
	100% { -moz-transform: scaleX(1); }
  }
  
  
  @keyframes main {
	0% { transform: scaleX(0); }
	100% { transform: scaleX(1); }
  }
  
  @keyframes edge {
	0%, 50% { transform: scaleY(0); }
	100% { transform: scaleY(1); }
  }
  
  @keyframes back {
	0%, 75% { transform: scaleX(0); }
	100% { transform: scaleX(1); }
  }
  .x{
	  display: none;
  }