.activem {
	background: linear-gradient(269deg, #000000, #ff0000, #000000);
	background-size: 400% 600%;
	-webkit-animation: activeAnmi 3s ease infinite;
	-moz-animation: activeAnmi 3s ease infinite;
	animation: activeAnmi 3s ease infinite;
	color: white;
	z-index: 10;
  }

  @-webkit-keyframes activeAnmi {
	0% {
	  background-position: 31% 0%;
	}

	50% {
	  background-position: 70% 100%;
	}

	100% {
	  background-position: 31% 0%;
	}
  }

  @-moz-keyframes activeAnmi {
	0% {
	  background-position: 31% 0%;
	}

	50% {
	  background-position: 70% 100%;
	}

	100% {
	  background-position: 31% 0%;
	}
  }

  @keyframes activeAnmi {
	0% {
	  background-position: 31% 0%;
	}

	50% {
	  background-position: 70% 100%;
	}

	100% {
	  background-position: 31% 0%;
	}
  }

  .tabs .tab a {
	color: red;
  }

  .tabs .tab a.active {
	color: red;
  }

  .tabs .tab a:hover {
	color: red;
  }

  .tabs .tab a:focus {
	background-color: rgba(255, 0, 0, 0.1);
  }

  .tabs .tab a:focus.active {
	background-color: rgba(255, 0, 0, 0.1);
  }

  .tabs .indicator {
	background-color: red;
  }

  #finishq {
	display: none;
  }

  .head1 {
	font-weight: bold;
	color: red;
  }

  /* #tab4 tr td:hover {
	background: rgba(252, 113, 113, 0.199);
  } */

  table {
	text-align: center;
	border: 0.5px solid #111;
	margin: auto;
  }

  table td {
	border: 1px solid #e9e9e9;
  }

  table tr {
	transition: 1.5s ease;
  }